body {
	font-family: 'Skranji', cursive;
	font-size: 16px;
	color: #2d3c49;
	margin: 0;
	background-color: #fb0;
}

h1 {
    margin: 10px 0;
    text-align:center;
}

a {
  color: #2196F3;
  text-decoration: none;
  text-align:center;
}

button {
    font-family: 'Skranji', cursive;
	font-size: 16px;
	line-height: 30px;
    height: 30px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
    background-color: #efefef;
}

a:hover {
    color: #0a6ebd;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction:column;
	align-items:center;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #e8e8e8;
    padding: 10px 0;
}

.nav__item {
    margin: 0 20px;
}

.nav__header {
    color: black;
}

.flash-messages {
    padding: 0;
    text-align: center;
    list-style-type: none;
    background-color: #afffaf;
    padding:5px;
}
.container .form-center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: white;
}


.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid #efefef;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
}

.form label {
	color: darkgray
}
.form label, .form input, .form a {
    width: 100%;
}

.form input {
    height: 30px;
    font-family: 'Skranji', cursive;
	font-size: 16px;
	border: 1px solid #efefef;
	border-radius: 5px;
	padding: 0 10px;
}
.form input, .form button, .form a {
    line-height: 30px;
    margin: 10px 0;
}

.form textarea {
    width: 100%;
    border-radius: 5px;
    border-color: #efefef;
    font-family: 'Skranji', cursive;
	font-size: 16px;
}

.form button, .form a {
    width: 50%;
    max-width: 100px;
    cursor: pointer;
}

.form select {
    width: 50%;
}
.form__action {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.login {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.catalog {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.categories {
    width: 50%;
    max-width: 200px;
    border: 1px solid #efefef;
    background-color: white;
    text-align:center;
    height:90vh;
    overflow-y:auto;
}

.category__header {
    border-bottom: 1px solid #efefef;
    background-color: rgb(62, 80, 180);
    color: white;
    margin: 0;
}

.category__name {
    width:100%;
    text-align:center;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    color: black;
}

.category--selected {
    background-color: #e8e8e8;
}

.category:hover {
    background-color: #e8e8e8;
    cursor: pointer;
    color: black;
}

.category > a {
    margin: 1em;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
}
.items__list {
    width: 100%;
    max-width: 400px;
    list-style: none;
    padding: 0;
}
.item {
    width: 100%;
    border-bottom: 1px solid #efefef;
}
.item__link {
    width: 100%;
    display:inline-block;
    text-align:left;
}
.item__link:hover {
    background-color:#efefef;
}
.item__category {
    color: darkgray;
}
.items__header {
    text-align:center;
}

.viewitem {
    display:flex;
    flex-direction:column;
    align-items: center;
    min-height:80vh;
    background-color:white;
    width: 100%;
}

.viewitem__description {
}

.viewitem__actions {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
}