{% include 'header.html' %}
<div class="container">
{% include 'navbar.html' %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash-messages">
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="catalog">
    <aside class="categories">
    <h1 class="category__header">Categories</h1>
    {% for c in categories %}
    <a class="category {{'category--selected' if category == c}}" href="{{url_for('CategoryItems', category_name=c.name)}}">
        <p class="category__name">{{c.label}}</p>
    </a>
    {% endfor %}
    </aside>
    <section class="items">
        <h1 class="items__header">Latest Items</h1>
        <ul class="items__"></ul>
    </section>
</div>
</div>
{% include 'footer.html' %}