{% include 'header.html' %}
<div class="container">
<h1>Danslist</h1>
{% if username %}
<h1>{{username}} <a href="{{url_for('disconnect')}}">Logout</a></h1>
{% else %}
<h1><a href="{{url_for('showLogin')}}">Login</a></h1>
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash-messages">
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<aside class="categories">
{% for c in categories %}
<div class="category">
    <p class="category__name">{{c.label}}</p>
</div>
{% endfor %}
</aside>
<section>
    <h1>Latest Items</h1>
</section>
</div>
{% include 'footer.html' %}