{% include 'header.html' %}
<div class="container">
{% include 'navbar.html' %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash-messages">
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="catalog">
    <aside class="categories">
        <a href="{{url_for('Categories')}}"><h1 class="category__header">Categories</h1></a>
    {% for c in categories %}
    <a class="category {{'category--selected' if category == c}}" href="{{url_for('CategoryItems', category_name=c.name)}}">
        <p class="category__name">{{c.label}}</p>
    </a>
    {% endfor %}
    </aside>
    <section class="items">
        <h1 class="items__header">Latest Items {{'in ' + category.label + ' (' + items|length|string + ')' if category and category.label}}</h1>
        {% if category and category.name %}
        <a href="{{url_for('newItem', category_name=category.name)}}">Add Item</a>
        {% else %}
        <a href="{{url_for('newItem')}}">Add Item</a>
        {% endif %}
        <ul class="items__list">
            {% for i in items %}
            <li class="item">
                <a class="item__link" href="{{url_for('viewItem', category_name=i.category.name, item_name=i.name)}}">{{i.label}}
                    {% if not category or not category.name %}
                    <span class="item__category">({{i.category.label}})</span>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
</div>
{% include 'footer.html' %}