{% include 'header.html' %}

<div class="container">
    <div class="form-center">
        <h1> Edit Category </h1>
        <form class="form" action="{{url_for('editCategory', category_name=category.name)}}" method = 'POST'>
            <label for="name">Name:</label>
            <input type='text' id="name" name='name' value='{{category.label}}' autofocus>
            <a href="{{url_for('Categories')}}">Cancel</a>
            <button type="submit" value="Save">Save</button>
        </form>
    </div>
</div>

{% include 'footer.html' %}