{% include 'header.html' %}
<div class="container">
    <div class="form-center">
        <h1>Add Item</h1>
        {% if category and category.name %}
        <form class="form" action="{{url_for('newItem', category_name=category.name)}}" method='POST'>
        {% else %}
        <form class="form" action="{{url_for('newItem')}}" method='POST'>
        {% endif %}
            <label for="name">Name:</label>
            <input type='text' name='name' id="name" autofocus>
            <label for="description">Description: </label>
            <textarea name="description" id="description"></textarea>
            <label for="category">Category:</label>
            <select name="category">
                {% for c in categories %}
                <option value="{{c.id}}" {{"selected" if category and c.name==category.name}}>{{c.label}}</option>
                {% endfor %}
            </select>
            <div class="form__action">
                <a href="{{url_for('Catalog')}}">Cancel</a>
                <button type="submit" value="Save">Create</button>
            </div>
        </form>
    </div>
</div>
{% include 'footer.html' %}
